body {

}

h1 {
  text-align: center;
}

#flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#source-rows {
  display: flex;
  flex-direction: row;
}

.source-box {
  display: flex;
  flex-direction: column;
}
